<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="../controllers/login.php" method="POST">
        <input type="checkbox" name="principal"><label>Ir a la página principal</label><br>
        <input type="checkbox" name="fin"><label>Cerrar sesión</label><br>
        <input type="submit" value="Ir">
        </form>
    </div>
</body>
</html>